b-navbar-label.b-navbar-label {
  display: flex;
}
b-navbar-item.navbar-item,
b-navbar-item.navbar-link {
  b-icon.icon {
    margin: 0 10px;
  }
}
.navbar-dropdown {
  .navbar-item--title {
    font-weight: bold;
  }
}

.navbar-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.navbar-item {
  img {
    vertical-align: middle;
  }
}

// TODO
// bulma targets a.navbar-item and misses our b-navbar-item target, need to
// fork bulma and see if we can fix there. So we should add the .a.navbar items
// here...
