b-navbar-label.b-navbar-label {
  display: flex;
}
b-navbar-item.navbar-item,
b-navbar-item.navbar-link {
  b-icon.icon {
    margin: 0 10px;
  }
}
.navbar-dropdown {
  .navbar-item--title {
    font-weight: bold;
  }
}
