$primary-other: #04172c;
$table-row-active-background-color: $primary;
$table-row-hover-background-color: darken(whitesmoke, 2);
$table-striped-row-even-hover-background-color: darken(whitesmoke, 5);
