.table-container {
  .truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* margin-bottom: 0px;*/
  .table {
    tr {
      .pagination {
        td {
          text-align: right;
        }
      }
      td {
        cursor: pointer;
        b-icon.is-danger {
        }
        b-icon.is-info {
        }
        b-icon {
          vertical-align: middle;
          margin: 0px 4px;
        }
      }
      td.is-numeric,
      th.is-numeric {
        text-align: center;
        width: 20px;
      }
    }
  }
}
