@import '../variables';
@import '~bulma/sass/utilities/all';
.table-container {
  /* margin-bottom: 0px;*/
  .table {
    tr {
      .pagination {
        td {
          text-align: right;
        }
      }
      td {
        b-icon.is-danger {
          color: darken($danger, 1);
        }
        b-icon.is-info {
          color: darken($primary, 10);
        }
        b-icon {
          vertical-align: middle;
          margin: 0px 4px;
        }
      }
      td.is-numeric,
      th.is-numeric {
        text-align: right;
        width: 20px;
      }
    }
  }
}
