$primary: #167fa6;
// $table-head-background-color: darken($primary, 12);
// $table-head-cell-color: whitesmoke;
// $table-foot-background-color: darken($primary, 12);
// $table-foot-cell-color: whitesmoke;
$table-row-active-background-color: $primary;
$table-row-hover-background-color: darken(whitesmoke, 2);
$table-striped-row-even-hover-background-color: darken(whitesmoke, 5);
$footer-padding: 1.5rem 0.75rem 1rem;
$footer-background-color: #fff;
