$primary-color: #167fa6;
$secondary-color: #548300;
$solarized-primary-color: #005469;
$solarized-secondary-color: #9094d3;
$solarized-icon-color: #b58900;
$monochrome-primary-color: #fff;
$monochrome-secondary-color: #000;
$monochrome-on-primary-color: $primary-color;

$test-color: #33a8ff; // Reddit blue
$test-color-secondary: #0079d3; // Reddit darker blue

$primary-success: green;
$primary-info: #337ab7;
$primary-error: red;
$primary-warning: #f6923b;
