@use "@material/theme";
// TODO import these in there component files (ie material-textfield.scss and so on...)
@import '@material/data-table/mdc-data-table';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/list/mdc-list';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/menu/mdc-menu';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
@import '@material/button/mdc-button';
@import '@material/typography';
@import './variables';
@import './mixins';

.mdc-data-table {
  .pagination {
    text-align: right;
    .pagination-pages {
      margin-right: 10px;
    }
  }
}

i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  &.solarized {
    color: $solarized-secondary-color;
  }
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.solarized i.arrow {
  border: solid $solarized-secondary-color;
  border-width: 0 3px 3px 0;
}

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
//   src: local('Material Icons'), local('MaterialIcons-Regular'),
//     url(https://fonts.googleapis.com/icon?family=Material+Icons) format('woff2');
// }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
